buildozer==1.5.0
certifi==2025.7.14
charset-normalizer==3.4.2
distlib==0.4.0
docutils==0.21.2
filelock==3.18.0
filetype==1.2.0
idna==3.10
Kivy==2.3.1
Kivy-Garden==0.1.5
pexpect==4.9.0
platformdirs==4.3.8
ptyprocess==0.7.0
Pygments==2.19.2
requests==2.32.4
sh==2.2.2
urllib3==2.5.0
virtualenv==20.32.0
